html
  head
    title 
      |News Scraper
    link(rel="stylesheet", type="text/css", href="./css/index.css")
  body
    div(id='content')
      ul
        li 
          a(href='International') International
        li 
          a(href='National') National
        li 
          a(href='Sports') Sports
        li 
          a(href='Business') Business
        li 
          a(href='Science') Science
        li 
          a(href='Technology') Technology
        li 
          a(href='Election') Election
