html
  head
    title 
      |News Scraper
    link(rel="stylesheet", type="text/css", href="./css/index.css")
  body
    div(class='content')
      ul
        li 
          a(href='International') International
        li 
          a(href='National') National
        li 
          a(href='Sports') Sports
        li 
          a(href='Business') Business
        li 
          a(href='Science') Science
        li 
          a(href='Technology') Technology
        li 
          a(href='Election') Election
    div(class='content')
      div(class='statusbar')
        h3 Status:
          img(src=imgsrc, height="30px", id="loading") 
        span(id='message')= status
    script(src="/socket.io/socket.io.js")
    script.
      var socket = io();

      socket.on('status', function(data) {
        document.getElementById("message").innerHTML = data[1];
        document.getElementById("loading").src = data[0];
      });
