html
  head
    title= category
    link(rel="stylesheet", type="text/css", href="./css/news.css")
  body
    div(class='content')
      h2= category
      ul
          each item in news
              li
                a(href=item[1], target="_blank")= item[0]
    a(href="/")
      div(class='statusbar')
          img(src="./img/home.svg", height="30px")