html
  head
    title= category
    link(rel="stylesheet", type="text/css", href="./css/news.css")
  body
    div
      h2= category
      ul
          each item in headlines
              li
                a= item
