body{
    margin: 0 0;
    background-image:url("../img/pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    opacity: 0.8;
}

.content {
    padding: 0;
    width: 680px;
    margin-left: auto; 
    margin-right: auto;
}

.content ul {
    margin: 0;
    padding: 0;
    opacity:1 !important;
    list-style-type: none;
    margin-top: 200px;
    background-color: rgb(255, 255, 255);
}

.content ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 20;
}

/* Change the link color on hover */
.content ul li a:hover {
    background-color: green;
    color: white;
}

.content .statusbar {
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    height: auto;
    /* line-height: 10px; */
    width: auto;
    padding: 4px;
    /* text-align: center;
    vertical-align: middle; */
    text-align: center;
    font-size: 22px;
    /* line-height: 10px; */
}

.content .statusbar h3 { padding: 0; margin: 0; }

#loading {
    margin-bottom: -5px;
}